name: Merge me!

on:
  workflow_run:
    types:
      - completed
    workflows:
      - 'Java Support Matrix'

jobs:
  merge-me:
    name: Merge me!

    runs-on: ubuntu-latest

    steps:
      - name: Merge me!
        if: ${{ github.event.workflow_run.conclusion == 'success' }}
        uses: ridedott/merge-me-action@2aa8bdda250d767ea91e423779cb9381336b3692
        with:
          GITHUB_TOKEN: ${{ secrets.MERGE_ME_SECRET }}
          PRESET: DEPENDABOT_MINOR
